body {
	font-family: 'Raleway', sans-serif;
	text-decoration-color: gray;
	font-weight: 200;
	vertical-align: baseline;
	width:100%;
}

body {
    font-size: 100%; /* Base font-size of 16px */
}
h1 {
  font-size: 3em; /* 48 / 16 */
  line-height: 1em; /* 48 / 48 */
  margin-bottom: .5em; /* 24 / 48 */
}
h2 {
  font-size: 2.25em; /* 36 / 16 */
  line-height: 1.333333333333333em; /* 48 / 36 */
  margin-bottom: .6666666666666667em; /* 24 / 36 */
}
h3 {
  font-size: 1.0em; /* 24 / 16 */
  line-height: 1em; /* 24 / 24 */
  margin-bottom: 1em; /* 24 / 24 */
  text-transform: uppercase;
}
h4 {
  font-size: 1.3125em; /* 21 / 16 */
  line-height: 1.142857142857143em; /* 24 / 21 */
  margin-bottom: 1.142857142857143em; /* 24 / 21 */
}
h5 {
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333333333333333em; /* 24 / 18 */
  margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h6 {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  margin-bottom: 1.5em; /* 24 / 16 */
}
p {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  margin-bottom: 1.5em; /* 24 / 16 */
}


@media screen and (min-width: 740px) {
    body {
        font-size: 200%; /* Base font-size of 32px */
    }
}


.navbar, .navbar-inverse{
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color:gray;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.nav li {
	display: ;
	color: red;
}

.navbar-inverse .navbar-nav > li > a {
	color: gray;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: lightgray;
	transition: 0.7s all linear;
	height: 100%;
}


.navbar-brand {
    float: left;
    font-size: 40px;
    line-height: normal;
    height: 60px;
}

a {
    color: green;
    text-decoration: none;
}

.messagearea {
	text-align: center;
	padding-top: 51px;
	padding-bottom: 51px;
}

.left-navigation li a {
color: gray;
	font-size: 15px;
	font-size: 20px;
    padding-left: -20px;
}

li {
	font-size: 18px;
}


.right-navigation li a {
	color:gray;
	font-size: 15px;
}
/*
p {
	font-weight: 'Raleway' 200;
	line-height: 2.5;
	display: inline-block;
	font-size: 20px;
	width: 100%;
}
*/

h1 {
	font-size: 1.25em;
	font-weight: normal;
	line-height: 1.2;
	margin: 1em 0 0 0;
}

/*p {
	font-size:2.2rem;
	line-height: 1.2;
	margin: 0 0 1em 0;
	font-weight: 'Raleway' 200;
	display: inline
}

@media only screen and (max-width: 320px) {

 p { font-size: 1em; }

}

*/


.footer {
	text-align : center;
	padding-top: 50px;
	position:absolute;
	width:100%;
	height:60px;

}

.about-image {
	margin: 0 auto;
	width:70%;
	margin-bottom: 40px;
	margin-top: 50px;

}



.uielements {
   display: inline-block;
	padding-top: 100px;
}

.img-responsive {
	max-width:77%;
	height:auto;
	display:block;
	margin: 0 auto;
	height: 85%;
	width: 85%;
	padding: 15px 0px 15px 0px;
	}

.ui-framework img {
 margin-bottom: 50px;
}

.image-block-paycrave img {
	 margin: 0 auto;
	 width:40%;
	margin-bottom: 40px;
	 box-shadow: 5px 5px 10px rgba(0,0,0,.2);
 -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.2);

}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



.image-block h3 {
   display: block;
   text-align: center;
   font-weight: 100;
	margin-bottom: 10px;

}

.image-block h2 {
	font-weight: 300;
	text-align: center;
	padding: 40px 20px 40px 20px;
}

.ui-framework img {
    width: 90%;
	display: block;
	padding-top: 50px;
}


.boxed-paycrave {
	background-color:;
	text-align: center;

}


.social {
	background-color: rgba(255, 199, 187, .5);
    padding: 20px;
    text-align: center;
}

.copyright p {
	background-color: #FFC7BB;
  text-align: center;
	font-size: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.portfolio-item {
	margin-bottom: 20px;
}


.portfolio-contents p {
	display: block;
	text-align: center;
	color:gray;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

.portfolio-background {
	margin-top: 50px;
}

.portfolio-background p {
	text-align: left;
}

.portfolio-background h2 {
	text-align: left;
	margin-bottom: 30px;
}

.portfolio-background h1 {
	text-align: left;
	color:#4A4A4A;
}

.portfolio-background h3 {
	text-align: left;
	color: ;
	font-size: 20px;
}

.portfolio-contents h1 {
	text-align: center;
}

#project-details-box-1 {
padding-top: 65px;
padding-bottom: 65px;
}

.project-details {
height:auto;
width:100%;
background-color: #607286;
color:#fff;
margin:0px;
text-align: left;
}

.portfolio h2 {
	text-align: center;
	padding: 20px 20px 30px 20px;
	margin: 20px;
	color: gray;
}

.hero#karmafundr-hero {
    background-image: url("/images/karmafundr_main_img.png");
  	background-size: 40% auto;
    background-position: top;
    background-repeat: repeat;
}

.hero#blocbox-hero {
	background-image: url("/images/dashboard_home_bloc.png");
	background-size: 35% auto;
    background-position: top;

}

.hero {
    padding-top: 50px;
    padding-bottom: 400px;
	    display: block;
}

		@media (max-width: 978px) {
    .hero#karmafundr-hero {
      padding-bottom:150px;
      margin:0;
    }

}



.portfolio-contents img {
	padding-right: 60px;
	padding-left: 60px;
	width: 100%;
	border:0px;
	display:block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.jumbotron {
	background-color: white;
	padding:0px;
}




.right-navigation img {
	position:relative;
	display: inline;
	width:8%;
	margin-top:20px;
	margin-bottom: 8px;
	opacity: 0.75;
}

#singlebutton {
	color:grey;
	background-color: #ABE9C2;
	border:none;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
  padding:20px 50px 20px 50px;
	font-size: 20px;
}




.toolbox-title {
	display: block;
	margin: 0 auto;
	color: gray;
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}

.skills-list {
	display: block;
	margin: 0 auto;
	color: gray;
	width: 50%;
	text-align: center;

}

.row:before, .row:after {
	content: " ";
	display: table;

}

.list-item {
	line-height: 200%;
}

.list-header {
	font-size: 20px;
    }

li {
	display: list-item;
}


.sketchbook{
	padding-top: 80px;
	margin-bottom: 20px;
}

.sketchbook img {
	width: 60%;
}

.body-intro {
    padding: 2.5em 0;
}


@media screen and (min-width: 769px)
.container {
    width: 50%;
    margin: 0 auto;
}

 .the-solution {
    background: white;
    color: black;

	 padding-top: 0em;
     padding-right: 0px;
    padding-left: 0px;
		display: inline-block;
}

.the-solution h2 {
text-transform: uppercase;
}

.body-intro h2 {
	text-align: left;
}



.the-problem {

    padding-top: 0em;
    padding-right: 0px;
    padding-left: 0px;
	display: inline-block;

}

.the-problem h2 {
text-transform: uppercase;
	text-align: left;
}

.conclusion-section {
	background-color: #ecf0f1;
	padding-top: 0em;
	padding-right: 0px;
	padding-left: 0px;
	display: inline-block;

}


.code-life {
    padding-top: 0em;
    padding-right: 0px;
    padding-left: 0px;
	display: inline-block;

}

.content-area h2 {
    padding-bottom: 10px;
    margin-top: 2.5em;
    margin-bottom: 20px;

	
}


.body-copy h2{
	font-size:30px;
	font-weight: bold;
	text-transform: uppercase;

}

.content-area img {
    width: 100%;
}
