<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
	  <div class="projectbackground {{page.projectbackgroundClass}}">
  <div class="container">
<div class="right-navigation">
  <a href="/index.html"><img src="/images/pravi.png"></a>
		<div class= "nav navbar-nav navbar-right">
		<li><a href="/about/">About</a></li>
		<li><a href="/portfolio/">Portfolio</a></li>
		<li><a href="/skills/">Skills</a></li></li>
		<li><a href="/sketchbook/">Sketchbook</a></li>
   	 	</div>
	 </div>
	</div>


	{{ content }}
	
<footer>
	<div class="social">
            <a href="https://twitter.com/pravisti"><img src="/images/twitter_filled.png"></a>
            <a href="https://www.behance.net/pravistife20"><img src="/images/behance_copyrighted_filled.png"></a>
            <a href="https://github.com/pravisti"><img src="/images/github_copyrighted_filled.png"></a>
        </div>
        <div class="copyright">
            <p>All content Pravi, 2016.</p>
        </div>
</footer>
	</div>

  </body>

</html>
